@using MariosSpecialtyProducts.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Log In";
}

<h1 class="account-title">Log in with your account</h1>
<hr />

<div class="well">  
    @using (Html.BeginForm())
    {
	    <div class="form-group row">
            <label class="col-md-3">Email:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new{@class="form-control"})
            </div>
	    </div>

	    <div class="form-group row">
            <label class="col-md-3">Password:</label>
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new{@class="form-control"})
            </div>
        </div>

        <input type="submit" value="Log in" class="btn btn-default" />
    }
</div>
