@model MariosSpecialtyProducts.Models.Review

@{
    ViewData["Title"] = "Add Review";
}

<div class="banner">
    <h1 class="title">Add a New Review</h1>
</div>


@using (Html.BeginForm())
{
    <div class="well">

	     <div class="form-group row">
            <label class="col-md-3">Product to Review:</label>
            <div class="col-md-9">
                @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.ProductId, "--Select Product--", new {@class="form-control"})
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3">Star Rating (1 - 5):</label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Rating, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3">Review:</label>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.ContentBody, new { @class="form-control", rows = "10" })
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-md-3">Your Name: </label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Author, new {@class="form-control"})
            </div>
        </div>
    
        <input type="submit" value="Submit" class="btn btn-default" />
    
    </div>

}