@model MariosSpecialtyProducts.Models.Review

@{
    ViewData["Title"] = "Delete Review";
}


<div class="banner">
    <h1 class="title">Delete Review</h1>
</div>

<h4>Are you sure you want to delete your review?</h4>
<p class="back">@Html.ActionLink("Back", "Details", new{ reviewId = Model.ReviewId})</p> 

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ReviewId)
    <input type="submit" value="Delete" class="btn btn-default" /> 
}