<!--@model MariosSpecialtyProducts.Models.Review

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)
    <div class="well">
        <div class="form-group row">
            <label class="col-md-3">Rating (1 - 5):</label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Rating, new {@class="form-control", @type="number", @min="1", @max="5"})
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-md-3">Review:</label>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.ContentBody, new {rows="10", cols="95"})
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-md-3">Your Name: </label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Author, new {@class="form-control"})
            </div>
        </div>
    
        <input type="submit" value="Submit" class="btn btn-default" />
    
    </div>

}-->