@model IEnumerable<MariosSpecialtyProducts.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="banner">
    <h1 class="title">Products</h1>
</div>

<!--<p class="add">@Html.ActionLink("Add New Product", "Create", new{ @id="add-link" })</p>
-->

    @foreach(var product in Model)
	{   
        <div class="well">
	        <h4 class="product">@Html.ActionLink((string)product.Name, "Details", new{ productId = product.ProductId}, new{ @class="products-list"})</h4>
        </div>
	}
