@model IEnumerable<MariosSpecialtyProducts.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="banner">
    <h1 class="title">Products</h1>
</div>

<div class="well">
    @foreach(var product in Model)
	{
	    <p class="product">@Html.ActionLink((string)product.Name, "Details", new{ productId = product.ProductId}, new{ @id="products-list"})</p>

	}
	<p class="add">@Html.ActionLink("Add New Product", "Create", new{ @id="add-link" })</p>
</div>
